.otp {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  max-width: 400px;
}
.verifyDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}
p {
  color: white;
  margin-bottom: 0px;
}
.inputStyle {
  width: 50% !important;
  height: 45px;
  border-radius: 7px;
  border: 0px;
  margin-left: 8px;
  margin-right: 8px;
  background: #dddddd;
  font-size: 20px;
}
.p3 {
  font-size: 14px;
}
.resend {
  text-decoration: underline;
  font-size: 14px;
}
.otpElements {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 18px;
  justify-content: center;
}

.p1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-top: 25px;
  font-size: 27px;
}

.p2 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
 button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;    
  }
  
  .top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: -webkit-linear-gradient(to right, #283655, #d0e1f9, #4d648d);  
    background: linear-gradient(to right, #283655, #d0e1f9, #4d648d);
  }
  .form {
    background: -webkit-linear-gradient(to right, #B85042, #E7E8D1, #A7BEAE);
    background: linear-gradient(to right, #B85042, #E7E8D1, #A7BEAE);
    border: 3px solid #1e1f26;
    max-width: 500px;
    background-color: #1e1f26;
    max-height: 500px;
    }

    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }
    
    
   .form img.avatar {
      width: 40%;
    }

    button:hover {
      opacity: 0.8;
    }
    